h1 {
    color: blue;
}

.heading {
    font-weight: 900;
}

.small_font {
    font-size: 0.6em;
}

.max_width_100px {
    max-width: 100px;
    height: auto;
}

.center_imgs {
    max-width: 200px;
    text-align: center;
}
